{% if include.style == "js" %}  
<script type='text/javascript' id='clustrmaps' src='//cdn.clustrmaps.com/map_v2.js?cl=c18e8e&w=a&t=tt&d=ZapoIqHZViHPInYQjY0rmZ7rs3GMAi8ZgrBbxjBCUIQ&co=ffffff&cmo=7353ff&cmn=ff0000&ct=302323'></script>
{% elsif include.style == "hiddenpng" %}  
<div hidden class="analytics" aria-hidden="true">
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
</div>
{% else %}
	 <img src="//www.clustrmaps.com/map_v2.png?d={{ site.author.clustrmap }}&cl=ffffff" />
{% endif %}
